.titleBox {
  text-align:center;
}


.titleBox h1 {
  padding-top:50px;
  color: #fff;
  font-weight: bold;
  font-size: 34px;
}

.titleBox p {
  color: #fff;
  letter-spacing: 1.7px;
}

button {
  width:500px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.7px;
}

.loading-spinner {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.container img {
  margin-top: 10px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}
